extends ../layouts/layout-main

block content
  article.container
    section.row
      .col-sm-8.js-dash-title
        h1
          | Accessibility
        p.subheadline
          | When working on making our site accessible, the main point of reference are the Web Content Accessibility Guidelines (WCAG).

    hr
    section
      h2.js-anchor.anchor
        | Checklist
      p
        | We strive to make our site as accessible as possible without a dedicated accessibility team. We are using the A11Y project’s checklist as reference:

      .form-group
        .form-check.custom-switch
          input#interactive-mode.custom-control-input.js-a11y-interactive-toggle(type='checkbox')
          label.custom-control-label(for='interactive-mode') Interactive mode (BETA)

      .js-a11y-interactive-description
        p
          | Audit your application step-by-step in an interactive mode.
        p
          | You can flexibly toggle each section. Once you finish with the improvement, click on the checkbox to mark it as done.
        p
          | The progress will persist on refresh or closing the page (as it's saved in local storage).

      // JS append section
      .js-a11y-checklist

    section.margin-top-xxl
      h2.js-anchor.anchor
        | Tools
      p
        | Here is a list of tools used to test accessibility:

      ul
        li
          | Axe browser extension: #[a(href='https://www.deque.com/axe/', data-event-category='External link', data-event-action='deque.com link', data-event-label='Accessibility', target='_blank', rel='noreferrer nonopener') #[i.eos-icons-outlined.eos-18.icon-reset(aria-hidde='true') open_in_new] #[span.sr-only Opens in a new tab]https://www.deque.com/axe/]
        li
          | Web Accessibility Evaluation Tool: #[a(href='https://wave.webaim.org/extension/', data-event-category='External link', data-event-action='webaim.org link', data-event-label='Accessibility', target='_blank', rel='noreferrer nonopener') #[i.eos-icons-outlined.eos-18.icon-reset(aria-hidde='true') open_in_new] #[span.sr-only Opens in a new tab]https://wave.webaim.org/extension/]
        li
          | Google Lighthouse: #[a(href='https://developers.google.com/web/tools/lighthouse', data-event-category='External link', data-event-action='developers.google.com link', data-event-label='Accessibility', target='_blank', rel='noreferrer nonopener') #[i.eos-icons-outlined.eos-18.icon-reset(aria-hidde='true') open_in_new] #[span.sr-only Opens in a new tab]https://developers.google.com/web/tools/lighthouse]
        li
          | NVA screen reader (Windows):  #[a(href='https://www.nvaccess.org/download/', data-event-category='External link', data-event-action='nvaccess.org link', data-event-label='Accessibility', target='_blank', rel='noreferrer nonopener') #[i.eos-icons-outlined.eos-18.icon-reset(aria-hidde='true') open_in_new] #[span.sr-only Opens in a new tab]https://www.nvaccess.org/download/]
        li
          | Voice Over: #[a(href='https://www.apple.com/accessibility/vision/', data-event-category='External link', data-event-action='apple.com link', data-event-label='Accessibility', target='_blank', rel='noreferrer nonopener') #[i.eos-icons-outlined.eos-18.icon-reset(aria-hidde='true') open_in_new] #[span.sr-only Opens in a new tab]https://www.apple.com/accessibility/vision/]
