extends ../../layouts/layout-main

block content
  .container
    section
      .row
        .col-md-9
          h1
            | Password recovery
          p.subheadline
            | The user experience when recovering a password needs to be straightforward and be as descriptive as possible.
          p
            | Visit the #[a(href='/examples/demo-new-password.html', data-event-category='External link', data-event-action='Demo page link', data-event-label='Sign in/Password recovery', target='_blank', rel='noreferrer nonopener') sign in demo] page.
        .col-md-3
          .dropdown.margin-top-m.float-right
            button.btn.btn-secondary.dropdown-toggle(data-toggle='dropdown', aria-expanded='false', aria-haspopup='true', aria-labelledby='signin-assets-dropdown')
              | #[i.eos-icons-outlined.eos-18(aria-hidden='true') keyboard_arrow_down]#[span.sr-only Opens assets dropdown] Sign in assets
            ul#signin-assets-dropdown.dropdown-menu.dropdown-menu-right
              include ./shared/assets.pug
    hr
    article.margin-top-xxxl
      h2.js-anchor.anchor
        | Step 1: Recover password page
      p
        | After clicking the “recover password” link, users will be redirected to this screen, where they can insert the email to recover the password.
      .figure-wrap
        .text-center
          img.img-fluid.img-fluid-v-centered(src='/images/templates/sign-in/recover-password.png', alt='Password recovery step 1 image')
    article.margin-top-xxxl
      h2.js-anchor.anchor
        | Step 2: Email
      p
        | After you submit your email ID, you get a confirmation that a reset link has been sent.
      .figure-wrap
        .text-center
          img.img-fluid.img-fluid-v-centered(src='/images/templates/sign-in/email.png', alt='Password recovery step 2 image')
    article.margin-top-xxxl
      h2.js-anchor.anchor
        | Step 3: Set your new password
      p
        | Clicking on the link in the email opens the the set your new password page where you can create a new password.
      .figure-wrap
        .text-center
          img.img-fluid.img-fluid-v-centered(src='/images/templates/sign-in/new-password.png', alt='Password recovery step 3 image')
