extends ../../layouts/layout-main

block content
  article.container
    section.row
      .col-md-9
        h1
          | Accessibility
        p.subheadline
          | A toggle button is similar to a checkbox, it can be toggled between two states active or not active.
          | It allows users to control their preferences by switching on/off button.
      .col-md-3
        .dropdown.margin-top-m.float-right
          button.btn.btn-secondary.dropdown-toggle(data-toggle='dropdown', aria-expanded='false', aria-haspopup='true', aria-labelledby='forms-assets-dropdown')
            | #[i.eos-icons-outlined.eos-18(aria-hidden='true') keyboard_arrow_down]#[span.sr-only Opens assets dropdown] Form element assets
          ul#forms-assets-dropdown.dropdown-menu.dropdown-menu-right
            include ../../shared/kit-dropdown/assets.pug
    hr
    section.margin-top-xxl
      h2.js-anchor.anchor
        | Description
      ul.list-no-padding
        li
          | Always associate a label to every toggle button for good accessibility. Do not include a colon at the end of the label.
        li
          | When the toggle has focus, pressing the #[code spacebar] key should toggle the value.
        li
          | It should have an #[code aria-disabled='true'] attribute if the button is disabled.

    include ../../shared/accessibility/checklist.pug
