extends ../../layouts/layout-main

block content
  article.container
    section.row
      .col-md-9
        h1
          | Single selection
        p.subheadline
          | The select element represents a control that allows the user to choose
          | from a number of options. The single selection element is represented
          | visually by a dropdown.
      .col-md-3
        .dropdown.margin-top-m.float-right
          button.btn.btn-secondary.dropdown-toggle(data-toggle='dropdown', aria-expanded='false', aria-haspopup='true', aria-labelledby='forms-assets-dropdown')
            | #[i.eos-icons-outlined.eos-18(aria-hidden='true') keyboard_arrow_down]#[span.sr-only Opens assets dropdown] Form element assets
          ul#forms-assets-dropdown.dropdown-menu.dropdown-menu-right
            include ../../shared/kit-dropdown/assets.pug
    hr
    section.margin-top-xxl
      h2.js-anchor.anchor
        | Description
      ul.list-no-padding
        li
          | Always associate a label to every select element for good accessibility. Do not include a colon at the end of the label.
        li
          | The options in a select list are provided with the #[code option] element and can
          | be grouped with the #[code optgroup] element.
        li
          | Dropdown select lists allow users to select one item at a time,
          | #[a(href='/form-elements/select/multiple-selection', data-event-category='Internal link', data-event-action='multiple select boxes', data-event-label='form-elements/select/multiple-selection') multiple select boxes] (aka list boxes) allow users to select a multiple items at a time.
      .row.states-row.margin-top-xxl.js-showcase-component(name='select')
        .col-md-3.states-column
          strong.states-column-title
            | Element states
          ul.states-list.no-list-style.js-showcase-list
            li.js-showcase-current
              button.btn-showcase.js-element-id
                span.js-element-label
                  | Default
        .col-md-9.component-showcase-col
          strong.js-showcase-how-to
            | How to use this element
          p.js-how-to-use
          strong.d-block
            | Example
          .states-example-box
            .example-inner-box.js-example-inner-box
          strong.d-block
            | Code
          .css-snippet-container
            .scss-snippet-btns
              button.btn-unstyled.js-copy-snippet(aria-label='Copy code to clipboard')
                i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
                  | content_copy
            pre.js-snippet-code.language-markup(tabindex=0)
              code.language-html
