- if ( process.env.NODE_ENV != 'production') {
  .alert.alert-danger.alert-global(role='alert')
    i.eos-icons-outlined.eos-18(aria-hidden='true')
      | error
    .alert-global-desktop
      a.js-demo-link.link-light(href='#', data-toggle='modal', data-target='#stagingServerModal')
        | Staging server:
      | The information present in this site may change. Do not use it in products.
    .alert-global-mobile
      a.js-demo-link.link-light(href='#', data-toggle='modal', data-target='#stagingServerModal')
        | Staging server:
      | The information present in this site may change.

  #stagingServerModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='stagingServerModal')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h4.modal-title
            | Staging access
          button.close(data-dismiss='modal', aria-label='Close modal')
            i.eos-icons-outlined.eos-18(aria-hidden='true')
              | close
        .modal-body
          p
            | The current is the staging server. We continiously deploy new fixes and features
            | to this website, thus making the present information unstable and not ready to be used.
          p
            | Do not use any of the guides, assets, and elements present in this site into any product
            | until the Design System is released.
          p
            | If you want to be the first to know when the Design Sustem is available, please send an email to
            a(href='mailto:eos@suse.de?subject=SUSE Product BRand Design System release access', data-event-category='External link', data-event-action='Email', data-event-label='Beta access modal')
              | eos@suse.de
        .modal-footer
          button.btn(data-dismiss='modal') Close
- }
