.alert.alert-global.alert-hidden.js-global-alert.js-dynamic-global-alert(role='alert')
  i.eos-icons-outlined.eos-18(aria-hidden='true')
    | info
  .alert-body
    .alert-global-desktop

    .alert-global-mobile

  button.close.js-global-alert-close(data-dismiss='alert', aria-label='Close alert')
    i.eos-icons-outlined.eos-18(aria-hidden='true')
      | close
