/* Modal video variables
   ========================================================================== */
/**
* Colors and sizing
*
* Colors variables: /assets/stylesheets/eos-base/variables/branding.scss
* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss
*/

$eos-video-modal-body-padding: $eos-s;
$eos-video-modal-header-padding: 0 10px;
$eos-video-modal-close-border-radius: 50%;
$eos-video-modal-video-width: 100%;
