/* Changelog variables
  ========================================================================== */
$eos-changelog-box-border: 1px solid $eos-bc-gray-100;
$eos-changelog-box-right-p-color: $eos-bc-cerulean-900;
$eos-changelog-box-inactive-img-opacity: .3;
$eos-changelog-box-inactive-color: $eos-bc-gray-100;
$eos-changelog-box-inactive-color-link: $eos-bc-cerulean-100;
$eos-changelog-mobile-wrapper-bg: $eos-bc-gray-100;
$eos-changelog-mobile-headline: $eos-font-size-base;

/* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss */
$eos-changelog-mobile-rocket: $eos-l;
$eos-changelog-box-margin-top: $eos-xl;
$eos-changelog-box-left-img-margin-right: $eos-s + 2;
$eos-changelog-box-left-img-width: $eos-xxl + 2;
$eos-changelog-box-right-padding: 0 $eos-s + 2;

$eos-changelog-mobile-box-padding: $eos-s;
$eos-changelog-mobile-box-margin-bottom: $eos-xxl;
$eos-changelog-mobile-p-margin: $eos-xs;
