extends ../layouts/layout-main

block content
  article.container
    section.row
      .col-md-9
        h1
          | Accessibility
        p.subheadline
          | Tables are appropriate for presenting data in two dimensions. To make the table accessible header cells must be marked up
          | with #[code th], and data cells with #[code td] elements.
      .col-md-3
        .dropdown.margin-top-m.float-right
          button.btn.btn-secondary.dropdown-toggle(data-toggle='dropdown', aria-expanded='false', aria-haspopup='true', aria-labelledby='tables-assets-dropdown')
            | #[i.eos-icons-outlined.eos-18(aria-hidden='true') keyboard_arrow_down]#[span.sr-only Opens assets dropdown] Tables assets
          ul#tables-assets-dropdown.dropdown-menu.dropdown-menu-right
            include ../shared/kit-dropdown/assets.pug

    hr
    section.margin-top-xxl
      .row
        .col-md-12
          h2.js-anchor.anchor
            | General
          ul.list-no-padding
            li
              | Use the #[code th] element to define the header cells in the table.
            li
              | Data cells in a table with two headers should be associated with their corresponding header cells.
              | Column headers should include  #[code scope='col'], and row headers should include #[code scope='row'].
            li
              | Tables with multi-level headers should use #[code id] and #[code headers] attributes to associate header and data cells.
            li
              | Tables must have an accessible #[code caption] or name (e.g. via #[code aria-label] or #[code aria-labelledby]).
            li
              | Table with group headers should be associated with their corresponding data cell groups, via #[code scope='rowgroup'] or #[code scope='colgroup'].

    include ../shared/accessibility/checklist.pug
