block password-recovery-form
  .sign-in-form
    h1
      | Recover password
    form.margin-top-xl(action='/examples/demo-password-email.html')
      .form-group
        label(for='email') Email
        input#email.form-control(type='text')
      button.btn.btn-primary.btn-block.margin-top-xxl.js-dark-theme-links Send email
    .form-links.margin-top-xxl
      a.js-dark-theme-links(href='demo-sign-in.html')
        | Sign in
