block password-recovery-email
  .sign-in-form
    h1
      | Recover password
    p.margin-top-xl
      | We have e-mailed you a password reset link.
    .form-links
      a.js-dark-theme-links(href='demo-recover-password.html')
        | Reset password
