extends ../layouts/layout-main

block content
  article.container
    section.row
      .col-md-9
        h1
          | Accessibility
        p.subheadline
          | Dropdown buttons toggle the visualisation of contextual menus. We've defined a set of good accessibility practices for
          | dropdown buttons, which will help users with assistive technologies.
      .col-md-3
        .dropdown.margin-top-m.float-right
          button.btn.btn-secondary.dropdown-toggle(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false', aria-labelledby='asset-dropdown')
            | #[i.eos-icons-outlined.eos-18(aria-hidden='true') keyboard_arrow_down]#[span.sr-only Opens assets dropdown] Dropdown assets
          ul#asset-dropdown.dropdown-menu.dropdown-menu-right
            include ../shared/kit-dropdown/assets.pug
    hr
    section.margin-top-xl
      h2.js-anchor.anchor
        | Description
      ul.list-no-padding
        li
          | When a button has focus, pressing the #[code spacebar] and #[code enter] keys should open the dropdown menu.
        li
          | Users should be able to navigate the different menu items by using the #[code up] / #[code down] arrows.
        li
          | The dropdown menu should close by using the #[code escape] key. On closing, the focus is automatically repositioned onto the button that opened the menu.
        li
          | It should have an #[code aria-expanded] attribute with a #[code true]/#[code false] value, to indicates the current state of the dropdown popup.
        li
          | It should have an #[code aria-haspopup] attribute set to #[code true] to indicate the availability and type of interactive dropdown popup.
        li
          | If the button does not have any accessible label or text for eg. icon-only dropdown buttons, use the #[code aria-label] attribute.
          | To learn more about buttons, follow the #[a(href='/buttons/accessibility') button accessibility] rule.

    include ../shared/accessibility/checklist.pug
