include ../../shared/gtm-body.pug
include ../../shared/banner-alerts/element-not-found.pug
//- Show the Staging alert on staging ENV
- if ( process.env.NODE_ENV == 'staging') {
  include ../../shared/banner-alerts/beta-access.pug
- }
