/* Dashboard dark-theme variables
   ========================================================================== */
.dark-theme {
  .getting-started-img {
    background-image: $eos-dash-gs-ac-bg-dark;
  }

  .getting-started-item {
    .dark-theme {
      display: inline-block;
    }

    .light-theme {
      display: none;
    }
  }
}

