/* Summary text dark-theme
   ========================================================================== */
/* Variables file: assets/stylesheets/eos-custom-components/summary/summary.variables.scss */
.dark-theme {
  .summary {
    &-content {
      background: $eos-summary-bg-dark-theme;
    }
  }
}
