/* Slide-in panel dark theme
   ========================================================================== */
/* Variables file: assets/stylesheets/eos-custom-components/panel-slidein/panel-slidein.variables.scss */
.dark-theme {
  .panel-slidein {
    background: $eos-panel-bg-dark-theme;
  }
}
