extends ../../layouts/layout-main

block content
  article.container
    section.row
      .col-md-9
        h1
          | Layout
        p.subheadline
          | The page layout is the foundation of an application. It provides the overall
          | structure and helps helps organise content consistently by using uniform elements.
        p
          | Visit the #[a(href='/examples/demo-layout.html', data-event-category='External link', data-event-action='Demo page link', data-event-label='Layout', target='_blank', rel='noreferrer nonopener') layout demo] page.
      .col-md-3
        .dropdown.margin-top-m.float-right
          button.btn.btn-secondary.dropdown-toggle(data-toggle='dropdown', aria-expanded='false', aria-haspopup='true', aria-labelledby='layout-assets-dropdown')
            | #[i.eos-icons-outlined.eos-18(aria-hidden='true') keyboard_arrow_down]#[span.sr-only Opens assets dropdown] Layout assets
          ul#layout-assets-dropdown.dropdown-menu.dropdown-menu-right
            include ./shared/assets.pug
    hr
    section.margin-top-xxl
      h2.js-anchor.anchor
        | Basic structure
      p
        | The basic structure provides sidebar, content area, footer and header.
      ul
        li
          | The sidebar contains the elements used for main navigation.
        li
          | Elements such as branding, submenu, account settings and search are positioned in the header.
        li
          | The content area represents the canvas of the application, and it holds the content of each page.
        li
          | The footer is an additional navigation element and can contain links, company or copyright information, etc.

      .d-flex.justify-content-center.margin-top-xxl
        .layout-example.layout-example-1
          span.sr-only
            | Example image of the layout structure implementation

    section.margin-top-xxl
      h2.js-anchor.anchor
        | Fluid page layout
      p
        | The fluid page layout is the default layout in #{config.brand}.
        | It provides the right screen real estate for content by allowing it to stretch and
        | contract relative to the screen size.
    section.margin-top-xxl
      h2.js-anchor.anchor
        | Responsive breakpoints
      .row
        .col-md-8
          ul
            li
              | greater than 1336px
            li
              | 770px - 1335px
            li
              | less than 770px
      ul.nav.nav-pills.nav-fill(role='tablist')
        li.nav-item(role='presentation')
          a.nav-link.active(href='#responsive-breakpoint-1', aria-controls='responsive-breakpoint-1', role='tab', data-toggle='tab')
            | Greater than 1336px
        li.nav-item(role='presentation')
          a.nav-link(href='#responsive-breakpoint-2', aria-controls='responsive-breakpoint-2', role='tab', data-toggle='tab')
            | 770px - 1335px
        li.nav-item(role='presentation')
          a.nav-link(href='#responsive-breakpoint-3', aria-controls='responsive-breakpoint-3', role='tab', data-toggle='tab')
            | Less than 770px
      .tab-content
        #responsive-breakpoint-1.tab-pane.active(role='tabpanel')
          .d-flex.justify-content-center.margin-top-xxl
            .layout-example.layout-example-animated-1
              span.sr-only
                | Example image of a Menu implementation for desktop
        #responsive-breakpoint-2.tab-pane(role='tabpanel')
          .d-flex.justify-content-center.margin-top-xxl
            .layout-example.layout-example-animated-2
              span.sr-only
                | Example image of a Menu implementation for tablet
        #responsive-breakpoint-3.tab-pane(role='tabpanel')
          .d-flex.justify-content-center.margin-top-xxl
            .layout-example.layout-example-animated-3
              span.sr-only
                | Example image of a Menu implementation for mobile
    section.margin-top-xxl
      h2.js-anchor.anchor
        | Content area
      p
        | The main container has a maximum width of 1116px. When the screen size
        | is greater than the container's maximum width, the #[code margin:auto]
        | property is used to center it.
        | Margins and paddings are used to create space around elements.
        | Margins are used for space between elements while paddings are used for
        | space within an element. The default padding is a fixed value and it is 32px.
      .d-flex.justify-content-center.margin-top-xxl
        .layout-example.layout-example-content-area
          span.sr-only
            | Image depicting layout with content area and padding

    section.margin-top-xxl
      h2.js-anchor.anchor
        | Grid
      p
        | The Design System uses Bootstrap's grid system. It uses a series of rows, containers and
        | columns to arrange and align content. It’s fully responsive.
      .figure-wrap.margin-top-xxl
        .text-center
          img.img-fluid(src='/images/layout/grid.svg', alt='Grid image')
