extends ../../layouts/layout-main

block content
  article.container
    section.row
      .col-md-9
        h1
          | Main menu
        p.subheadline
          | The menu provides a list of choices for the user. The main menu is used for quick access to a consistent list of items.
        p
          | Visit the #[a(href='/examples/demo-layout.html', data-event-category='External link', data-event-action='Demo page link', data-event-label='Layout/Main menu', target='_blank', rel='noreferrer nonopener') layout demo] page.
      .col-md-3
        .dropdown.margin-top-m.float-right
          button.btn.btn-secondary.dropdown-toggle(data-toggle='dropdown', aria-expanded='false', aria-haspopup='true', aria-labelledby='layout-assets-dropdown')
            | #[i.eos-icons-outlined.eos-18(aria-hidden='true') keyboard_arrow_down]#[span.sr-only Opens assets dropdown] Layout assets
          ul#layout-assets-dropdown.dropdown-menu.dropdown-menu-right
            include ./shared/assets.pug
    hr
    section.margin-top-xxl
      h2.js-anchor.anchor
        | Description
      ul
        li
          | The main menu is always positioned on the left side of the screen.
        li
          | In big screens, the main menu starts off as uncollapsed, while in medium screens it starts off as collapsed.
        li
          | It contains a list of items which are always available.
        li
          | It may contain dropdown groups, which allow the user to choose one value from the list. When the dropdown is inactive, it displays a single value.
        li
          | The menu has 3 responsive breakpoints: bigger than 1336px, 770px - 1336px and less than 770px.
        li
          | The background color is #[code $eos-bc-pine-500].
        li
          | It contains a #[i.eos-icons-outlined.eos-18 menu] icon on the top-right corner
          | to allow users collapse the menu in order to increase the space in the content area.

    section.margin-top-xxxl
      ul.nav.nav-pills.nav-fill(role='tablist')
        li.nav-item(role='presentation')
          a.nav-link.active(href='#responsive-breakpoint-1', aria-controls='responsive-breakpoint-1', role='tab', data-toggle='tab')
            | Greater than 1336px
        li.nav-item(role='presentation')
          a.nav-link(href='#responsive-breakpoint-2', aria-controls='responsive-breakpoint-2', role='tab', data-toggle='tab')
            | 770px - 1335px
        li.nav-item(role='presentation')
          a.nav-link(href='#responsive-breakpoint-3', aria-controls='responsive-breakpoint-3', role='tab', data-toggle='tab')
            | Less than 770px
      .tab-content
        #responsive-breakpoint-1.tab-pane.active(role='tabpanel')
          .figure-wrap.margin-top-xxl
            .text-center
              img.img-fluid.img-fluid-v-centered(src='/images/layout/main-menu-greater-1336.svg', alt='Menu image for screens greater than 1336px')
        #responsive-breakpoint-2.tab-pane(role='tabpanel')
          .figure-wrap.margin-top-xxl
            .text-center
              img.img-fluid.img-fluid-v-centered(src='/images/layout/main-menu-770-1335.svg', alt='Menu image for screens between 770px and 1335px')
        #responsive-breakpoint-3.tab-pane(role='tabpanel')
          .figure-wrap.margin-top-xxl
            .text-center
              img.img-fluid.img-fluid-v-centered(src='/images/layout/main-menu-360-769.svg', alt='Footer image for screens between 360px and 769px')
