extends ../layouts/layout-main

block content
  article.container
    section.row
      .col-md-9
        h1
          | Links
        p.subheadline
          | Information related to how to implement links and how to choose the right color.
      .col-md-3
        .dropdown.margin-top-m.float-right
          button.btn.btn-secondary.dropdown-toggle(data-toggle='dropdown', aria-expanded='false', aria-haspopup='true', aria-labelledby='links-assets-dropdown')
            | #[i.eos-icons-outlined.eos-18(aria-hidden='true') keyboard_arrow_down]#[span.sr-only Opens assets dropdown] Links assets
          ul#links-assets-dropdown.dropdown-menu.dropdown-menu-right
            include ../shared/kit-dropdown/assets.pug
      hr
    h2.js-anchor.anchor.margin-top-xxl
      | Link colors
    p
      | Our #[strong blue] color is the default color for links. Link text is bold.
    p
      | For mouse hover, use an underline.
    .usage-example
      .title
        span.d-block.h5
          | #008ACF
        p
          code
            | $eos-bc-blue-500
      .wrap.cerulean-white
        p.wrap-content
          | This is the default #[a.js-demo-link(href='#') link color]
    .implementation-example
      h3.js-anchor.anchor.margin-top-l
        | Special use cases
      p
        | When the color #[a(href='colors/usage/#contrast', data-event-category='Internal link', data-event-action='Contrast ratio link', data-event-label='Links', target='_blank', rel='noreferrer nonopener') contrast] fails between #[code $eos-bc-blue-500]
        | and the elements background, the link color remains the same as the text color, dark grey or white.
        | The link text is bold and underlined. Remove the underline on mouse hover.
      p
        | Remove the underline on mouse hover.
      .usage-example.margin-bottom-m
        .title
          span.d-block.h5
            | #141823
          p
            code
              | $eos-bc-gray-1000
        .wrap.yellow
          p.wrap-content
            | Link on colored #[a.js-demo-link.link-dark(href='#') backgrounds].
    .implementation-example
      .usage-example.margin-bottom-m
        .title
          span.d-block.h5
            | #FFFFFF
          p
            code
              | $eos-bc-white
        .wrap.green-blue
          p.wrap-content
            | Link on colored #[a.js-demo-link.link-light(href='#') backgrounds].
    .implementation-example
      h3.js-anchor.anchor.margin-top-l
        | Dark theme
      p
        | For the dark theme #[code $eos-bc-blue-500] should be replaced for #[code $eos-bc-cerulean-100] for the default link color.
        | The link text should be bold and underlined, same as with the special use cases.
      p
        | Remove the underline on mouse hover.
      .usage-example.margin-bottom-m
        .title
          span.d-block.h5
            | #B3E8F6
          p
            code
              | $eos-bc-cerulean-100
        .wrap.dark-theme
          p.wrap-content
            | Link on the #[a.js-demo-link(href='#') dark theme].
    ul.nav.nav-pills.nav-fill(role='tablist')
      li.nav-item(role='presentation')
        a.nav-link.active(href='#icon-colors-examples', aria-controls='icon-colors-examples', role='tab', data-toggle='tab')
          | Implementation examples
    .tab-content
      #icon-colors-examples.tab-pane.active(role='tabpanel')
        .implementation-example
          .result
            a.js-demo-link(href='#')
              | Edit node details
          .css-snippet-container
            .scss-snippet-btns.no-top-margin
              button.btn-unstyled.js-copy-snippet(aria-label='Copy code to clipboard')
                i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
                  | content_copy
            pre.js-snippet-code(tabindex=0)
              template.js-code-template
                | <a href='#'>Edit node details</a>
              code.js-code-render.language-html
        .implementation-example
          .result.orange-bg
            a.link-dark.js-demo-link(href='#')
              | Edit node details
          .css-snippet-container
            .scss-snippet-btns.no-top-margin
              button.btn-unstyled.js-copy-snippet(aria-label='Copy code to clipboard')
                i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
                  | content_copy
            pre.js-snippet-code(tabindex=0)
              template.js-code-template
                | <a href='#' class='link-dark'>Edit node details</a>
              code.js-code-render.language-html
        .implementation-example
          .result.dark-bg
            a.link-light(href='#')
              | Edit node details
          .css-snippet-container
            .scss-snippet-btns.no-top-margin
              button.btn-unstyled.js-copy-snippet(aria-label='Copy code to clipboard')
                i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
                  | content_copy
            pre.js-snippet-code(tabindex=0)
              template.js-code-template
                | <a href='#' class='link-light js-demo-link'>Edit node details</a>
              code.js-code-render.language-html
