.container-404 {
  margin: 0 $eos-error-404-container-margin;
  padding-bottom: $eos-error-404-container-padding;
  text-align: center;

  h1 {
    color: $eos-bc-gray-1000;
    font-size: $eos-error-404-h1-font;
  }

  h3 {
    color: $eos-bc-gray-1000;
    margin-top: 0;
  }

  .bunny {
    min-width: $eos-error-404-bunny-min-width;
    width: $eos-error-404-bunny-width;
  }
}

.contact-404 {
  display: inline-block;

  img {
    margin: 0 $eos-error-404-icon-margin;
    transition: transform $eos-error-404-icon-transform;
    width: $eos-error-404-icon-width;
  }

  :hover {
    img {
      transform: scale($eos-error-404-icon-scale);
    }
  }
}
