include demo-head.pug
  title EOS - Recover password

  body.signin-bg
    main.signin-content
      .sign-in-box
        include files_copy/layouts/shared/sign-in/sign-in-brand.pug
        .form-container
          include files_copy/layouts/shared/sign-in/sign-in-header.pug
          block content
            include files_copy/layouts/shared/password-recovery/index.pug
          include files_copy/layouts/shared/sign-in/sign-in-footer.pug

script(src='https://code.jquery.com/jquery-3.5.1.min.js')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js' crossorigin='anonymous')
script(src='js/index.js')
script(src='js/demo.js')
