/* States implementation component
   ========================================================================== */
/* Variables file: assets/stylesheets/eos-custom-components/states-implementation/states-implementation.variables.scss */

.a11y-checklist-component {
  .card {
    margin: $eos-m 0;

    .card-header {
      &:hover {
        cursor: pointer;
      }
    }

    .card-header-clickable {
      background: transparent;
      border: 0;
      display: flex;
      width: $a11y-card-header-width;
    }

    li, .a11y-checkbox-item-interativecompleted, .a11y-checkbox-item-interative {
      // font-weight: 600;
      font-size: 16px;

      span {
        display: block;
        font-size: 14px;
        font-weight: 400;
        margin: $eos-s 0;
      }

      a {
        font-size: 14px;
        margin-top: 8px;
      }
    }
  }

  .a11y-intractive-card {
    .a11y-task-completion {
      align-content: center;
      background: $a11y-task-completion-background;
      display: flex;
      height: $a11y-task-completion-height;
      justify-content: center;
      padding: $eos-s;
      position: relative;

      .a11y-task-progress {
        background-color: $eos-bc-green-500;
        content: '';
        display: flex;
        height: $a11y-task-progress-height;
        left: 0;
        position: absolute;
        top: 0;
        transition: all .2s ease-in-out;
        width: $a11y-task-progress-width;
        z-index: 1;
      }

      .a11y-task-percentage {
        color: $eos-bc-gray-1000;
        font-weight: bold;
        z-index: 2;
      }
    }

    li {
      list-style: none;
    }

    .completed {
      text-decoration: line-through;
    }

    i.eos-icons-outlined {
      color: $eos-bc-green-500;
    }

    p {
      margin: 0;
    }

    .a11y-section-completed {
      .card-header-clickable {
        color: $eos-bc-green-500;
      }
    }

    .a11y-task-completion-bottom {
      background-color: $eos-bc-gray-100;
      bottom: 0;
      content: '';
      height: 2px;
      position: absolute;
      width: $a11y-task-completion-width;
      z-index: 0;

      .js-a11y-bottom-progressbar {
        background-color: $eos-bc-green-500;
        height: 2px;
        transition: all .2s ease-in-out;
        z-index: 3;
      }
    }
  }
}
