/* States implementation variables
   ========================================================================== */
/* Colors variables: /assets/stylesheets/eos-base/variables/branding.scss */
$a11y-task-completion-background: $eos-bc-gray-300;
$a11y-task-completion-height: 38px;
$a11y-task-per-color: $eos-bc-white;
$a11y-card-header-width: 100%;
$a11y-task-progress-height: 100%;
$a11y-task-progress-width: 10%;
$a11y-task-completion-width: 100%;
