/* Implementation examples variables
   ========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/branding.scss */
$eos-ie-result-default-border: $eos-bc-gray-50;
$eos-ie-result-dark-color: $eos-bc-gray-900;
$eos-ie-result-yellow-bg: $eos-bc-yellow-900;
$eos-ie-result-yellow-bg-border: $eos-bc-yellow-900;
$eos-ie-color: $eos-bc-gray-1000;

/* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss */
$eos-ie-border-radius-size: $eos-base-border-radius-size;
$eos-ie-result-padding: $eos-l 0;
$eos-ie-result-dark-bg-padding: $eos-l;
$eos-ie-vertical-margin: $eos-l 0 0 0;
$eos-ie-btn-margin-right: $eos-s;
$eos-ie-full-width-btn-margin-bottom: $eos-s;
$eos-ie-no-tab-padding: 0 $eos-l $eos-l $eos-l;
$result-paddings: $eos-m;
$eos-ie-result-gray: $eos-bc-gray-100;
