.card.card-horizontal.clickable.js-article-container.modal-link
  .card-content
    div
      span.d-block.h4.js-article-title
      p
  span.card-icon
    i.eos-icons-outlined.eos-18
      | library_books
  footer
    .d-flex.justify-content-end
      a.card-link.js-article-link(href='#')
        | Read more
