/* Focus page dark theme
  ========================================================================== */
.dark-theme {
  .layout-example {
    &.layout-example-1 {
      background-image: url('../images/layout/dark-theme/structure.svg');
    }

    &.layout-example-animated-1 {
      background-image: url('../images/layout/dark-theme/desktop-menu.gif');
    }

    &.layout-example-animated-2 {
      background-image: url('../images/layout/dark-theme/tablet-menu.gif');
    }

    &.layout-example-animated-3 {
      background-image: url('../images/layout/dark-theme/mobile-menu.gif');
    }

    &.layout-example-content-area {
      background-image: url('/images/layout/dark-theme/desktop-mockup.svg');
    }
  }

  /* Implementation examples */
  .layout-implementation {
    background-repeat: no-repeat;

    &.layout-implementation-1 {
      background-image: url('/images/layout/dark-theme/layout-implementation.png');
    }

    &.layout-implementation-2 {
      background-image: url('/images/layout/dark-theme/header-specs-web.png');
    }

    &.layout-implementation-3 {
      background-image: url('/images/layout/dark-theme/sidebar-specs-web.png');
    }

    &.layout-implementation-4 {
      background-image: url('/images/layout/dark-theme/footer-specs-web.png');
    }

    &.layout-implementation-5 {
      background-image: url('/images/layout/dark-theme/content-area-specs-web.png');
    }

    &.layout-implementation-6 {
      background-image: url('/images/layout/dark-theme/sidebar-ele-specs-web.png');
    }

    &.layout-implementation-7 {
      background-image: url('/images/layout/dark-theme/submenu-specs-web.png');
    }

    &.layout-implementation-8 {
      background-image: url('/images/layout/dark-theme/header-sidebar-footer-tablet.png');
    }

    &.layout-implementation-9 {
      background-image: url('/images/layout/dark-theme/header-sidebar-footer-mobile.png');
    }

    &.layout-implementation-10 {
      background-image: url('/images/layout/dark-theme/mobile-menu-open.png');
    }
  }


}

