extends ../layouts/layout-main

block content
  article.container
    section.row
      .col
        h1
          | Icons
        p.subheadline
          | Using icons consistently across products reduces the
          | learning curve and reinforces brand awareness.
    hr

    .row.flex-column
      .icons-filter
        .input-group
          input#search-icon.js-icons-filter.form-control(type='search', placeholder='Type to search')
          .input-group-append
            i.eos-icons-outlined.eos-18 search

      .js-eos-icons-list.eos-icons-list
