extends ../layouts/layout-main

block content
  article.container
    section.row
      .col-md-9
        h1
          | Accessibility
        p.subheadline
          | There are different ways to make buttons accessible to screen reader users.
          | We've defined good practices to make accessible buttons in different scenarios
          | for eg. only-icon buttons, buttons with a label, and an icon or group buttons.
      .col-md-3
        .dropdown.margin-top-m.float-right
          button.btn.btn-secondary.dropdown-toggle(data-toggle='dropdown', aria-expanded='false', aria-haspopup='true', aria-labelledby='buttons-assets-dropdown')
            | #[i.eos-icons-outlined.eos-18(aria-hidden='true') keyboard_arrow_down]#[span.sr-only Opens assets dropdown] Buttons assets
          ul#buttons-assets-dropdown.dropdown-menu.dropdown-menu-right
            include ../shared/kit-dropdown/assets.pug
    hr
    section.margin-top-xxl
      .row
        .col-md-12
          h2.js-anchor.anchor
            | General
          ul.list-no-padding
            li
              | When a button has focus, pressing the #[code spacebar] and #[code enter] keys should activate it.
            li
              | Buttons should have an accessible name. It can be a text inside the button or label
              | that describes the action of the button.
            li
              | If the button does not have any accessible label or text for eg. icon-only buttons, use the #[code aria-label] attribute.
            li
              | Add the #[code type="button"] attribute to buttons within forms which purpose is not to submit the form in matter.
            li
              | If a button has an accessible label and an icon, the icon could become irrelevant to screen reader users.
              | It is best practice to hide it from screen readers using the #[code aria-hidden='true'] attribute.
            li
              | Use the #[code role='group'] attribute when defining a series of buttons in a group.
              | In addition, groups should be given an explicit label by using #[code aria-label] attribute.

    include ../shared/accessibility/checklist.pug
