extends ../layouts/layout-main

block content
  article.container
    section.row
      .col-md-9
        h1
          | Buttons
        p.subheadline
          | Buttons are elements used to perform actions such as submitting a form,
          | opening a dialog, or cancelling an action. They are an essential element
          | of interaction design and have a primary role in the conversation between a user and the system.

        p.subheadline
          | There are a number of options you can use when styling a button such as size, type, and state.
      .col-md-3
        .dropdown.margin-top-m.float-right
          button.btn.btn-secondary.dropdown-toggle(data-toggle='dropdown', aria-expanded='false', aria-haspopup='true', aria-labelledby='buttons-assets-dropdown')
            | #[i.eos-icons-outlined.eos-18(aria-hidden='true') keyboard_arrow_down]#[span.sr-only Opens assets dropdown] Buttons assets
          ul#buttons-assets-dropdown.dropdown-menu.dropdown-menu-right
            include ../shared/kit-dropdown/assets.pug
    hr
    section.row.states-row.margin-top-xxl.js-showcase-component(name='button')
      .col-md-3.states-column
        strong.states-column-title
          | Button types
        ul.states-list.no-list-style.js-showcase-list
          li.js-showcase-current
            button.btn-showcase.js-element-id
              span.js-element-label
                | Default
      .col-md-9.component-showcase-col
        strong.js-showcase-how-to
          | How to use this element
        p.js-how-to-use
        .js-snippet-alert
        strong.d-block
          | Example
        .states-example-box
          .example-inner-box.w-100.js-example-inner-box
        strong.d-block
          | Code
        .css-snippet-container
          .scss-snippet-btns
            button.btn-unstyled.js-copy-snippet(aria-label='Copy code to clipboard')
              i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
                | content_copy
          pre.js-snippet-code.language-markup(tabindex=0)
            code.language-html

    section.margin-top-xxl
      h2.js-anchor.anchor
        | Button vs. link
      p
        | The HTML elements for buttons and links describe a very specific type of action that is
        | going to be taken when they are used. However, it is important to know when to use one or
        | the other in a specific situation:
      ul.list-no-padding
        li
          | Use links for navigating to other pages.
        li
          | Use buttons for performing an action, such as: “submit”, “merge”, “create new”,
          | “upload”, etc. These actions almost always occur on the same page.
      .alert.alert.alert-section.alert-info(role='alert')
        i.alert-icon.eos-icons-outlined.eos-18(aria-hidden='true')
          | info
        .alert-body
          .alert-title
            | Do not use the #[code btn-link] class in a button element.
          | All buttons should be clearly styled as buttons. This helps the user identify the
          | type of response to expect when clicking on a given element. Go to the
          | #[a(href='/buttons/usage', data-event-category='Internal link', data-event-action='usage', data-event-label='Buttons/alert') usage] page for more information about bootstrap classes.
        button.close(data-dismiss='alert', aria-label='Close alert')
          i.eos-icons-outlined.eos-18(aria-hidden='true')
            | close
    section.margin-top-xxl
      h2.js-anchor.anchor
        | Button sizing
      p
        | The size of buttons plays a key role in helping users to identify buttons according to their importance.
      .alert.alert-section.alert-info(role='alert', aria-label='Information alert')
        i.alert-icon.eos-icons-outlined.eos-18(aria-hidden='true')
          | info
        .alert-body
          .alert-title
            | Bootstrap btn-link class
          | Do not use the #[code btn-xs] and #[code btn-lg] button classes. They have been excluded from the Design System
          | because they do not fullfill our criteria for readability and accessibility.
        button.close(data-dismiss='alert', aria-label='Close alert')
          i.eos-icons-outlined.eos-18(aria-hidden='true')
            | close
