button.btn.btn-icon.btn-secondary.btn-sm.theme-toggle-button.js-theme-toggle.js-tooltip.js-feature-flag(data-toggle='tooltip', data-feature-flag= componentsEnabled['themeToggle'], title='Switch theme', aria-label='Switch theme')
  i.eos-icons-outlined.eos-18.theme-icon(aria-hidden='true')
    | dark_mode
  i.eos-icons-outlined.eos-18.theme-icon.d-none
    | light_mode
