/* Colour usage page dark theme
   ========================================================================== */
/* Extends usage component found in assets/stylesheets/eos-custom-components/usage-example/ */
/* Variables file: assets/stylesheets/eos-pages/color-usage/color-usage.variables.scss */

@mixin usage-example-dark-theme {
  .usage-example {
    .wrap {
      /* Text and background colors */
      &.dark-gray-white {
        border: 1px solid $eos-color-usage-dark-gray-white-border;
      }

      &.white-gray {
        background-color: $eos-color-usage-white-grey-dt-bg;
      }

      /* Text color over backgrounds */
      &.white-violet {
        background-color: $eos-white-violet-bg;
      }

      &.black-cerulean {
        background-color: $eos-black-cerulean-bg;
      }
    }
  }
}

.dark-theme {
  @include usage-example-dark-theme;
}
