extends ../layouts/layout-main

block content
  article.container.loading-patterns
    h1
      | Loading
    p.subheadline
      | A comprehensive guide on how to consistently display loading content in an application, section, or component.
    hr
    section
      h2.js-anchor.anchor
        | Full section loading
      p
        | When the load time of a section is longer than 1 second, use a solid white
        | overlay with a 48px loading icon in the center.
      p
        | Once loading has completed, fade out the overlay displaying the content.
      .loading-gif-wrapper.margin-bottom-xxxl
        img.img-fluid.margin-top-xxxl.gif-demo-wrap(src='/images/patterns/full-section-loading.gif', alt='Full section loading example')
    section
      h2.js-anchor.anchor
        | Component
      p
        | When loading a component, display the container outline adding a solid white
        | overlay.
      p
        | The 36px loading icon  should be placed at the center
        | of the component.
      p
        | When the component has loaded fade out the overlay, displaying the content.
      .loading-gif-wrapper.margin-bottom-xxxl
        img.img-fluid.margin-top-xxxl.gif-demo-wrap(src='/images/patterns/component-loading.gif', alt='Component loading example')
    section
      h2.js-anchor.anchor
        | Inline loading
      p
        | When the user clicks on the action and data needs to be processed, show
        | the 16px animated icon inside the element.
      p
        | Once the action has finished,
        | display the check mark to show that the action completed successfully or the cross mark if something went wrong.
      .loading-gif-wrapper.margin-bottom-xxxl
        img.img-fluid.margin-top-xxxl.gif-demo-wrap.gif-demo-wrap-shadow.w-75(src='/images/patterns/table.gif', alt='Inline loading example')
    section
      h2.js-anchor.anchor
        | Animated icon code snippet
      p
        | Use the loading svg icon from the EOS icons library, to indicate the loading state of an element, component, or page.
      p
        | Once the loading is complete, use the CSS property from #[strong CSS code snippet]
        | to fade out the loading icon overlay and display the content.
    section
      ul.nav.nav-pills.nav-fill(role='tablist')
        li.nav-item(role='presentation')
          a.nav-link.active(href='#loading-demo', aria-controls='loading-demo', role='tab', data-toggle='tab')
            | HTML snippet
        li.nav-item(role='presentation')
          a.nav-link(href='#loading-demo-scss', aria-controls='loading-demo-scss', role='tab', data-toggle='tab')
            | CSS code snippet
      .tab-content
        #loading-demo.tab-pane.active(role='tabpanel')
          .implementation-example.loading-demo-example
            .result.pattern-loading-demo
              img(src='/images/animated-icons/loading-gray.svg', alt='Loading icon')
            .css-snippet-container
              .scss-snippet-btns
                button.btn-unstyled.js-copy-snippet(aria-label='Copy code to clipboard')
                  i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
                    | content_copy
              pre.js-snippet-code(tabindex=0)
                template.js-code-template
                  | <img src='loading.svg'>
                code.js-code-render.language-html
        #loading-demo-scss.tab-pane(role='tabpanel')
          .css-snippet-container
            .scss-snippet-btns
              button.btn-unstyled.js-copy-snippet(aria-label='Copy code to clipboard')
                i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
                  | content_copy
            pre.js-snippet-code(tabindex=0)
              template.js-code-template
                | transition: all 0.5s ease-out
              code.js-code-render.language-css
