extends ../layouts/layout-main

block content
  article.container.loading-patterns
    h1
      | Spacing
    p.subheadline
      | Spacing variables are used for margins and paddings. In order to achieve visual balance,
      | consistent spacing needs to be applied across components and layouts.
    hr
    h2.js-anchor.anchor
      | Scale
    p
      | When building components and layouts use the spacing scale. All spacings are calculated from base the size, which is 16px.

    table.table(aria-label='Scale table')
      thead
        tr
          th(scope='col')
            | Variable
          th(scope='col')
            | Size
          th(scope='col')
            | Example
      tbody
        tr
          td
            code
              | $eos-xs
          td
            | 4px
          td
            span.patter-scale-visual-block.patter-scale-visual-block-xs
          tr
            td
              code
                | $eos-s
            td
              | 8px
            td
              span.patter-scale-visual-block.patter-scale-visual-block-s
          tr
            td
              code
                | $eos-m
            td
              | 16px
            td
              span.patter-scale-visual-block.patter-scale-visual-block-m
          tr
            td
              code
                | $eos-l
            td
              | 24px
            td
              span.patter-scale-visual-block.patter-scale-visual-block-l
          tr
            td
              code
                | $eos-xl
            td
              | 32px
            td
              span.patter-scale-visual-block.patter-scale-visual-block-xl
          tr
            td
              code
                | $eos-xxl
            td
              | 48px
            td
              span.patter-scale-visual-block.patter-scale-visual-block-xxl
          tr
            td
              code
                | $eos-xxxl
            td
              | 64px
            td
              span.patter-scale-visual-block.patter-scale-visual-block-xxxl

    .css-snippet-container.margin-top-xxxl
      .scss-snippet-btns
        button.btn-unstyled.js-copy-snippet(aria-label='Copy code to clipboard')
          i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
            | content_copy
      pre.snippet-code.js-snippet-code
        template.js-code-template
          | $eos-space-base: 16px;
          |
          | $eos-m: $eos-space-base; // = 16px
          | $eos-xs: $eos-m / 4; // = 4px
          | $eos-s: $eos-m / 2; // = 8px
          | $eos-l: $eos-m + ($eos-m / 2); // = 24px
          | $eos-xl: $eos-m * 2; // = 32px
          | $eos-xxl: $eos-m * 3; // = 48px
          | $eos-xxxl: $eos-m * 4; // = 64px
        code.js-code-render.language-scss
