/* All pages
   ========================================================================== */
/**
*
* Variables: /assets/stylesheets/eos-pages/all-pages/all-pages.variables.scss
*
*/
article >, section > {
  h2:first-of-type, h3:first-of-type {
    margin-bottom: $eos-article-first-h2-margin-bottom;
  }

  h1:first-of-type {
    margin-bottom: $eos-article-first-h1-margin-bottom;
  }
}
