extends ../layouts/layout-main

block content
  article.container
    section.row
      .col-md-9
        h1
          | Accessibility
        p.subheadline
          | We provide accessibility best practices for the different elements that compose a card, such as links, icons, or buttons.
      .col-md-3
        .dropdown.margin-top-m.float-right
          button.btn.btn-secondary.dropdown-toggle(data-toggle='dropdown', aria-expanded='false', aria-haspopup='true', aria-labelledby='cards-assets-dropdown')
            | #[i.eos-icons-outlined.eos-18(aria-hidden='true') keyboard_arrow_down]#[span.sr-only Opens assets dropdown] Card assets
          ul#cards-assets-dropdown.dropdown-menu.dropdown-menu-right
            include ../shared/kit-dropdown/assets.pug
    hr
    section.margin-top-xl
      h2.js-anchor.anchor
        | Considerations
      p
        | Cards do not have a standardized requirements but some best best practices can be applied. Since a card composition can be made from images, links or buttons, please reffer to specific sections to better understand how to implemente each element.
      ul.list-no-padding
        li
          | For links, refer to #[a(href='/links/accessibility', target='_blank') links accessibility section]
        li
          | For icons, refer to #[a(href='/icons/accessibility', target='_blank') icons accessibility section]
        li
          | For buttons, refer to #[a(href='/buttons/accessibility', target='_blank') buttons accessibility section]

      h2.js-anchor.anchor.margin-top-xl
        | Example
      pre.js-snippet-code(tabindex=0)
        template.js-code-template
          | <div class='card card-horizontal clickable' style='width: 510px;'>
          |   <div class='card-content'>
          |     <div>
          |       <span class='card-title'>How to rebrand your product</span>
          |       <p>The new SUSE brand is here and we've adapted the design system in order to provide a cohesive user experience to our customers.",
          |       </p>
          |     </div>
          |   </div>
          |   <span class='card-icon'>
          |     <i class='eos-icons-outlined eos-18'>library_books</i>
          |   </span>
          |   <footer>
          |     <a href='#' class='card-link' aria-label='Read full article'>Read articles</a>
          |   </footer>
          | </div>
        code.js-code-render.language-html
      include ../shared/accessibility/checklist.pug
