extends ../layouts/layout-main

block content
  .container.js-changelogController
    section
      h1
        | Changelog
      p.subheadline
        | This page contains EOS's changelog history
    hr
    button.btn.btn-secondary.changelog-toggle-button.js-changelog-filter
      | Show patch releases
    section.changelog.js-changelog-container
      .changelog-element.js-changelog-element
        h5.js-version-number
        span.js-changelog-date
