/* labels page variables
   ========================================================================== */

$eos-labels-example-1-height: 72px;
$eos-labels-example-1-width: 279px;

$eos-labels-example-2-height: 149px;
$eos-labels-example-2-width: 331px;


$eos-labels-example-1-height-dark: 48px;
$eos-labels-example-1-width-dark: 241px;

$eos-labels-example-2-height-dark: 131px;
$eos-labels-example-2-width-dark: 282px;
