// ps- prefix from panel-slidein
.ps-device-top
  span.d-block.h3.js-logo-icons-name
  .margin-top-xl.margin-bottom-xl.ps-device-icon
    img.eos-48.margin-right-m.js-logo-icon-img(alt='logo icon demo')
    a.js-demo-link.js-logo-icon-svg(href='#')
      i.eos-icons-outlined.eos-18(aria-hidden='true')
        | download
      | Download icon
  hr
  p
    | Please follow #[a(href='/icons', data-event-category='Internal link', data-event-action='our guidelines', data-event-label='Logo icon set') our guidelines] when implementing this icon.
