nav.mobile-menu.js-mobile-menu(aria-label='Mobile Navigation')
  header
    a(href='/')
      img.ds-logo(src='/images/suse-product-brand.svg', alt='SUSE product brand logotype')
    .burger-menu.js-burger-menu
      button.btn-unstyled
        i.eos-icons-outlined(aria-hidden='true')
          | menu
        span.sr-only
          | Toggle collapsible menu
  nav.display-nav.js-display-nav
    //- Extend menu list mixin
    include  main-menu.pug
