/* Back to top dark theme
   ========================================================================== */
/**
* JS component loaded on startup
* The button displays after scrolling 800px
*
* See more: /assets/javascripts/application/components/back-to-top.js
*
* Variables file: assets/stylesheets/eos-custom-components/back-to-top/back-to-top.variables.scss
*/

.dark-theme {
  .back-to-top {
    background-color: $eos-btt-dark-theme-background;
    border: 1px solid $eos-dark-main-menu-border;
  }
}

