block sign-up-form
  .sign-in-form
    h1
      | Sign up
    form.margin-top-xl(action='/examples/demo-sign-in.html')
      .form-group
        label(for='username') Enter your username
        input#username.form-control(type='text')
      .form-group
        label(for='email') Email
        input#email.form-control(type='text')
      .form-group
        label(for='password') Password
        .input-group
          input#password.form-control.eos-input-password(type='password')
          .input-group-append
            i.eos-icons-outlined.eos-18.icon-field.js-toggle-password visibility
          .password-strength-meter.d-none
            .meter
            .meter
            .meter
            .meter-text
          .form-messages
            | Your password must be 8-20 characters long, contain letters numbers, and special characters.
      .form-group
        label(for='password-confirm') Confirm password
        input#password-confirm.form-control(type='password-confirm')
      .form-group
        .margin-bottom-s
          strong
            | Gender
        .form-check
          input#red.form-check-input.eos-radio-btn(type='radio', name='color', value='option1', checked='')
          label.form-check-label(for='red')
            | Male
        .form-check
          input#yellow.form-check-input.eos-radio-btn(type='radio', name='color', value='option2')
          label.form-check-label(for='yellow')
            | Female
      .form-group
        label(for='select')
          strong Country
        select#select.custom-select
          option(value='0') Choose one of the available options
          option(value='1') Belgium
          option(value='2') Croatia
          option(value='3') Denmark
          option(value='4') France
          option(value='5') Germany
      .form-group
        label(for='file-input') Upload a photo
        input#file-input.form-control-file(type='file')
      .form-group
        label.margin-bottom-s(for='range') I want my subscription to last for:
        input#range(type='range', value='1', min='1', max='100')
      .form-group
        label(for='select2') I want access to:
        select#select2.custom-multiple-select(multiple='')
          option(value='1') openSUSE
          option(value='2') SUSE Cloud
          option(value='3') SUSE Linux Enterprise High Availability
          option(value='4') SUSE Linux Enterprise Server for SAP Applications
          option(value='5') SUSE Studio
        .form-messages.text-right hold control/command + click to select more than one option
      .form-group
        label(for='textarea') Additional comments
        textarea#textarea.form-control.text-area(maxlength='500')
        .form-messages.d-flex.justify-content-end
          span.maxlength 500/500
      .form-group
        .form-check
          input#option-1.form-check-input.eos-checkbox(type='checkbox')
          label.form-check-label(for='option-1')
            | I want to receive promotional material
        .form-check
          input#option-2.form-check-input.eos-checkbox(type='checkbox', checked)
          label.form-check-label(for='option-2')
            | I agree to the terms of service
      button.btn.btn-primary.btn-block.margin-top-xxl.js-dark-theme-links Sign up
