/* Gallery modal
   ========================================================================== */
/* Color variables: /assets/stylesheets/eos-base/variables/branding.scss */

// main modal overwrites
$modal-backdrop-bg: $eos-bc-gray-1000;
$modal-backdrop-opacity: .92;

$modal-gallery-max-width: 960px;
$modal-gallery-height: 560px;
$modal-gallery-content: $eos-bc-white;
$modal-gallery-img-width: 100%;
$modal-gallery-img-margin: $eos-l;
