/* Articles gallery component dark theme
   ========================================================================== */
.dark-theme {
  .articles-gallery {
    .ag- {
      &arrow {
        &:hover {
          color: $eos-ag-arrow-hover-color-dark-theme;
        }
      }
    }
  }
}
