/* Tabs dark theme
   ========================================================================== */
/**
* The following rules override the default look of Bootstrap's tabs
*
* Variables file: assets/stylesheets/eos-custom-components/tabs/dark-theme/tabs.variables.scss
*/
.dark-theme {
  .nav {
    border-color: $eos-tabs-border-color-dt;
  }

  .tab-content {
    border-color: $eos-tabs-border-color-dt;
  }

  .nav li .nav-link {
    background: $eos-tabs-bg-dt;
    color: $eos-tabs-text-color-dt;
    text-decoration: none;

    &.active {
      background: $eos-tabs-inactive-bg-dt;
      color: $eos-tabs-text-color-dt;
    }
  }
}
