/* Tabs dark theme
   ========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/branding.scss */
$eos-tabs-border-color-dt: $eos-bc-dt-gray-100;
$eos-tabs-text-color-dt: $eos-bc-white;
$eos-tabs-bg-dt: $eos-bc-dt-gray-100;
$eos-tabs-inactive-bg-dt: $eos-bc-gray-1000;
