/* Tabs
   ========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/branding.scss */
$eos-tabs-border-color: $eos-bc-gray-50;
$eos-tabs-active-bg: $eos-bc-white;
$eos-tabs-active-border-color: $eos-bc-green-500;
$eos-tabs-inactive-bg: $eos-bc-gray-50;
$eos-tabs-text-color: $eos-bc-gray-1000;
$eos-secondary-tab-content-border-color: #b6b4b4;


/* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss 
Typography variables: /assets/stylesheets/eos-base/variables/typography.scss */
$eos-tabs-margin-top: $eos-xl;
$eos-tabs-content-padding: $eos-l;
$eos-tabs-disabled-color: #969494;
$eos-tabs-li-line-height: $eos-line-height;
$eos-tabs-vertical-content-width: 75%;
$eos-tabs-vertical-nav-link-padding: 10px 14px;
$eos-tabs-vertical-nav-width: 25%;
