/* Theme toggle
   ========================================================================== */
/**
*
* Colors variables: /assets/stylesheets/eos-base/variables/branding.scss
* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss
*
*/

// colors
$theme-toggle-color: $eos-bc-pine-500;

// spacing & sizes
$theme-toggle-padding: $eos-xs + 1;
$right-side-content-top: 44%;
$right-side-content-right: -5px;
$right-side-content-width: 94px;
$right-side-content-height: 200px;
$theme-toggle-right: 57px;
$theme-toggle-button-right: 5px;
