/* Typography page variables
   ========================================================================== */
/**
* Colors and borders
*
* Typography variables: /assets/stylesheets/eos-base/variables/typography.scss
* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss
*
* typo = Typography
*/
$eos-typo-design-spec-file-padding: $eos-m;
$eos-typo-design-spec-file-margin-top: $eos-xl;
$eos-typo-pa-block-h4-margin-bottom: $eos-xs;
$eos-typo-pa-block-p-margin: $eos-xs;
$eos-typo-type-scale-container-box-shadow: 0 3px 12px rgba(0, 0, 0, .16);
$eos-typo-article-h3-margin-bottom: $eos-m;
$eos-typo-scss-snippet-btns-margin-top: $eos-xs;
