/* Icons UX
   ========================================================================== */
.icons-ux-alignment {
  .eos-icons-outlined {
    float: left;
    margin-right: $eos-icons-ux-margin-right;
    margin-top: $eos-icons-ux-margin-top;
  }

  .vertical-align-icon {
    margin-top: $eos-icons-ux-vertical-align-icon;
  }

  .vertical-content {
    float: left;
    width: $eos-icon-ux-vertical-content-width;

    > h4, p {
      margin: 0;
    }
  }
}

.link-text-icon {
  i {
    margin-right: $eos-icons-ux-link-icon-margin-right;
  }
}

.icon-ux-example {
  background-repeat: no-repeat;
  height: $eos-icon-ux-with-label-height;

  &.icon-ux-with-label {
    background-image: url('/images/icons-ux/horizontal-nav-01.png');
  }

  &.icon-ux-without-label {
    background-image: url('/images/icons-ux/horizontal-nav-02.png');
  }

  &.icon-ux-with-tooltip {
    background-image: url('/images/icons-ux/tooltip-eg.svg');
  }

  &.icon-ux-spacing {
    background-image: url('/images/icons-ux/spacing.png');
  }
}
