extends ../layouts/layout-main

block content
  article.container
    section.row
      .col-md-9
        h1
          | Tabs
        p.subheadline
          | Tabs are used to separate information into logical sections and to quickly navigate between them.
      .col-md-3
        .dropdown.margin-top-m.float-right
          button.btn.btn-secondary.dropdown-toggle(data-toggle='dropdown', aria-expanded='false', aria-haspopup='true', aria-labelledby='tables-assets-dropdown')
            | #[i.eos-icons-outlined.eos-18(aria-hidden='true') keyboard_arrow_down]#[span.sr-only Opens assets dropdown] Tabs assets
          ul#tables-assets-dropdown.dropdown-menu.dropdown-menu-right
            include ../shared/kit-dropdown/assets.pug
    hr
    section.margin-top-xxl
      h2.js-anchor.anchor
        | Description
      ul.list-no-padding
        li
          | Use tabs when there is a large amount of content that can be separated.
        li
          | Should use no more than six horizontal tabs. This maintains an uncluttered UI and reduces cognitive load for users.
        li
          | Vertical tabs provide better scalability for a large number of tabs (ten and more).
        li
          | Stick to only one row of tabs. Use tab navigation when the content categories fit in a single row.
        li
          | Write short tab labels. Try not to use more than two words for a tab label.
        li
          | Vertical tabs provide better scalability for a large number of tabs (ten and more).
        li
          | Secondary tabs never appear without a parent set of primary tabs.
        li
          | The number of secondary tabs inside vertical tabs should be as small as possible – not more than six are recommended.
    section.margin-top-xl.global-alerts-demo
      .row.states-row.margin-top-xxl.js-showcase-component(name='tabs')
        .col-md-3.states-column
          strong.states-column-title
            | Table types
          ul.states-list.no-list-style.js-showcase-list
            li.js-showcase-current
              button.btn-showcase.js-element-id
                span.js-element-label
                  | Default
        .col-md-9.component-showcase-col
          strong.js-showcase-how-to
            | How to use this element
          p.js-how-to-use
          strong.d-block
            | Example
          .states-example-box
            .example-inner-box-full.js-example-inner-box
          strong.d-block
            | Code
          .css-snippet-container
            .scss-snippet-btns
              button.btn-unstyled.js-copy-snippet(aria-label='Copy code to clipboard')
                i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
                  | content_copy
            pre.js-snippet-code.language-markup
              code.language-html
