/* Features container
   ========================================================================== */
/* Variables file: assets/stylesheets/eos-custom-components/feature-container/feature-container.variables.scss */
.feature-container {
  align-items: center;
  background: $eos-features-container-bg;
  display: flex;
  justify-content: space-between;
  padding: $eos-feature-spacing;

  &:nth-child(even) {
    border-left: $eos-feature-container-border-width solid $eos-feature-container-border-color;
  }

  &:nth-child(odd) {
    border-right: $eos-feature-container-border-width solid $eos-feature-container-border-color;
  }

  &:not(:last-of-type) {
    margin-bottom: $eos-feature-spacing;
  }

  .feature-description {
    width: $eos-feature-description-width-50;
  }



  &-align-start {
    align-items: flex-start;
  }
  @media screen and (max-width: $eos-sd-max) {
    flex-direction: column;

    .feature-description {
      width: $eos-feature-description-width-100;
    }

    img {
      width: $eos-feature-description-width-100;
    }
  }
}
