/* Focus page dark theme
   ========================================================================== */
.dark-theme {
  .logo-labels-example {
    &.example-1 {
      background-image: url('../images/logos/suse-rancher-logo-dark.png');
      height: $eos-labels-example-1-height-dark;
      width: $eos-labels-example-1-width-dark;
    }

    &.example-2 {
      background-image: url('../images/logos/suse-rancher-label-dark.png');
      height: $eos-labels-example-2-height-dark;
      width: $eos-labels-example-2-width-dark;
    }
  }
}
