li
  a.dropdown-item(href='/installing-npm', data-event-category='Dropdown link', data-event-action='Installation instructions', data-event-label='Alerts')
    i.eos-icons-outlined.eos-18(aria-hidden='true')
      | library_books
    | Installation instructions
li
  a.dropdown-item(href='https://gitlab.com/SUSE-UIUX/eos-backup/raw/master/Resources/Design-kit.xd', data-event-category='Dropdown link', data-event-action='Specifications', data-event-label='Buttons', target='_blank', rel='noreferrer nonopener')
    i.eos-icons-outlined.eos-18(aria-hidden='true')
      | download
    | Adobe design kit
li
  a.dropdown-item(href='https://gitlab.com/SUSE-UIUX/eos-backup/raw/master/Resources/Design-kit.svg', data-event-category='Dropdown link', data-event-action='XD Download', data-event-label='Buttons', target='_blank', rel='noreferrer nonopener')
    i.eos-icons-outlined.eos-18(aria-hidden='true')
      | download
    | SVG design kit
