/* States implementation component
   ========================================================================== */
/* Variables file: assets/stylesheets/eos-custom-components/states-implementation/states-implementation.variables.scss */

.states-row {
  margin-left: 0;
  margin-right: 0;
}

.states-column {
  border: $eos-si-states-column-border;
  padding: 0;

  &-title {
    background-color: $eos-si-states-column-h4-background;
    color: $eos-si-states-column-h4-color;
    display: block;
    padding: $eos-si-states-column-h4-padding;
  }

  .states-list {
    margin: $eos-si-list-margin;

    li {
      display: flex;

      input[type='radio'] {
        display: none;
      }

      label {
        cursor: pointer;
        margin-bottom: 0;
      }

    }
  }
}

.component-showcase-col {
  background-color: $eos-si-column-background-color;
  padding: $eos-si-column-padding;

  p {
    margin-top: 0;
  }

  .states-example-box {
    @extend .margin-bottom-m;
    @extend .margin-top-s;
    background-color: $eos-si-column-example-box-background;
    display: flex;
    min-height: $eos-si-states-example-box-min-height;
    padding: $eos-si-example-box-padding;

    .example-inner-box {
      width: $eos-siexample-inner-box-width;
    }

    .example-inner-box-full {
      width: $eos-si-inner-box-width-100;
    }
    @media screen and (max-width: $eos-sd-max) {
      .example-inner-box {
        width: $eos-si-inner-box-width-100;
      }
    }
  }
}

.btn-showcase {
  background: none;
  border: 0;
  border-left: $eos-showcase-nav-border solid transparent;
  display: block;
  margin: $eos-showcase-nav-margin;
  padding: $eos-showcase-nav-padding;
  text-align: left;
  transition: .1s;
  user-select: none;
  width: $eos-si-inner-box-width-100;

  &:hover, &.active {
    border-left: $eos-showcase-nav-border solid $eos-bc-green-500;
    text-decoration: none;
  }
}
