block sign-in-form
  .sign-in-form
    h1
      | Sign in
    form.margin-top-xl.login-form
      .form-group
        label(for='username') Username
        input#username.form-control(type='text')
      .form-group
        label(for='password') Password
        input#password.form-control(type='password')
      button.btn.btn-primary.btn-block.margin-top-xxl Submit
    .form-links.margin-top-xxl
      a.js-dark-theme-links(href='demo-new-password.html')
        | Recover password
      a.js-dark-theme-links(href='demo-sign-up.html')
        | Create an account
