/* Cookies banner dark theme
   ========================================================================== */
/* Variables file: assets/stylesheets/eos-custom-components/card/dark-theme.variables.scss */
.dark-theme {
  .cookies-alert {
    background: $eos-cookies-banner-bg;
  }
}
