/* How to use variables
   ========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/branding.scss */
// Monochromatic colour examples
$eos-color-usage-dark-gray-white-bg: $eos-bc-gray-1000;
$eos-color-usage-dark-gray-white-text: $eos-bc-white;
$eos-color-usage-white-gray-border: $eos-bc-gray-500;
$eos-color-usage-white-gray-text: $eos-bc-gray-1000;

// Coloured background examples
$eos-white-violet-bg: $eos-bc-red-500;
$eos-white-violet-text: $eos-bc-white;
$eos-black-cerulean-bg: $eos-bc-cerulean-500;
$eos-black-cerulean-text: $eos-bc-gray-1000;
